/* thegreatdiscontent.com for ref design  */

/* Pagewide CSS */
html {
	font-family: 'Arvo', serif;
  font-size: 10px;
  background-color: #ccc;
}


/* home formatting */

.malpic_main {
  height: 20em;
  width: 15em;

}
.malpic_main img {
	height: 15em;

}
/* */
/* */
/* */
/* */
/* */
/* */
